body{
    height: 200vh;
}

div{
    background-color: blueviolet;
}

.paraOne{
    background-color: brown;

}

.paraTwo{
    background-color: red;
    position: absolute;
    top:10px;
z-index: 10;
    /* left:20px */
}

.paraThree{
    background-color: blue;
    position: absolute;
    top:10px;
    z-index: 20;
  
}



.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown) .form_input:not(:focus) ~ .form_label {
  top: -2px;
  font-size: 15px;
}